{{> head }} {{> navbar }}


<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image p-5 mb-5 text-center">
                    <img src="img/logo-axapusco.jpg" class="img img-fluid mt-5 pt-5">
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Registrar cita</h1>
                        </div>
                        <form class="user" id="form-cite">
                            <!-- Ãreas -->
                            <div class="form-group">
                                <select class="form-control" id="inputAreaCite" required>
                                    {{#each areas}}
                                        <option value="{{ this._id }}" id="{{ this._id }}-option-area">{{ this.name }} - {{ this.description }}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <!-- Fecha y hora de la cita
                                -- Fecha opcional
                                -- Hora en formato de 24 hrs -->
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <div class="form-group row">
                                        <div class="col m-0 p-0">
                                            <input type="string" id="inputAnio" class="form-control" value="{{anio}}" disabled>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <input type="number" id="inputMonth" class="form-control" value="{{month}}" min="{{month}}" max="12" required>
                                        </div>
                                        <div class="col m-0 p-0">
                                            <input type="number" id="inputDay" class="form-control" value="{{day}}" min="{{day}}" max="31" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0" id="hourContainer">
                                    <select class="form-control" id="inputHour">
                                    {{#each cites}}
                                        <option id="{{this}}-option" value="{{ this }}">{{ this }}</option>
                                    {{/each}}
                                </select>
                                </div>
                            </div>

                            <!-- Motivo de la cita -->
                            <div class="form-group">
                                <div class="col">
                                    <textarea name="description" id="inputDescription" rows="5" class="form-control" placeholder="Motivo de la cita" required></textarea>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-success btn-user btn-block">
                                Registrar cita
                            </button>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{> footer }}
<!-- Page level custom scripts -->
<script src="/js/function_register_cite.js"></script>